:root{
    --bg-blue:#93B5C9;
    --bg-wine:#AB2849;
}

span {
    float: left;
    width: 100%;
    height: 150px;
    background: var(--bg-blue)
}

p {
    display:block;
    width: 100%;
    height: 500px;
    background: var(--bg-wine);
}

ul {
    left: 20px;
    margin-top: 20px;
    background: #AB2849;
    height: 120px;
    width: 50%;
}

footer {
    margin-top: 20px;
    background: #AB2849;
    height: 120px;
    width: 94%;
    transform: translate(3%, 0%);
}
